<h1>Listing users</h1>

<table>
  <tr>
    <th>email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>

  <% user.subscriptions.each do |s| %>
    <%= s.source.name %>
    <% s.source.articles.each do |a| %>
      a:
      <%= a.url %>
    <% end %>
  <% end %>

  <tr>
    <td><%= user.email %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
